@import './../../../../assets/styles/colors';
.menu ul{
    list-style-type: none;
    margin: 0;

}
.menu > ul > li{
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.menu{
    background-color: $blue-gray;
}
.menu > ul > li > a {
    font-weight: bold;
    text-decoration: none;
    color: $black;
}
.menu > ul > li :hover {
   cursor: pointer;
   background-color: $black;
   color: $blue-gray;
}

